/** @format */

.content {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  width: 60%;
}

.tools {
  width: fit-content;
  border-radius: 10px;
  padding: 15px 50px;
}

.tooltxt {
  color: var(--font-color);

  font-family: Roboto;
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: 400;
}
.sectiontext {
  color: var(--font-color);

  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 500px) {
  .content {
    width: 100%;
  }
}
