   #colorBarDiv {
    position: relative;
    height: 152px;
    right: 0px;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background: black
    }
    #titleColorBar{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74%;
    color: #F0F0F0;
    margin: 0;  
    }
    
