/** @format */

@media (min-width: 961px) {
  /** @format */

  .conteinercontent::-webkit-scrollbar {
    width: 2.553px;

    border-radius: 10px;
  }

  .conteinercontent::-webkit-scrollbar-track-piece {
    background: var(--scroll-background);
  }

  .conteinercontent::-webkit-scrollbar-track-piece:start {
    margin-top: 80px;
  }
  .conteinercontent::-webkit-scrollbar-track-piece:end {
    margin-bottom: 80px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--font-color);
    border-radius: 10px;
  }

  .container {
    width: 100%;
    height: 79vh;
    padding-left: 100px;
    padding-right: 100px;
  }

  .conteinercontent {
    direction: rtl;
    padding: 0 100px;
    overflow-y: overlay;
    width: 100%;
    height: 100%;
  }
  .conteinercontent * {
    direction: ltr;
  }

  .sections {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .conteinercontent {
    width: 100%;
    height: 100%;
  }

  .sections {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}
