/** @format */

.container {
  width: 143px;
  height: 36px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.container h1 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.container img {
  height: 1rem;
}

.container:hover {
  filter: invert(1);
  border: 2px solid white;
}
