/** @format */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vh;
  padding: 50px 100px 0px 100px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  gap: 20px;
}

.left .top {
  width: 100%;
  border-bottom: 2px solid var(--font-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  color: var(--font-color);
  font-size: clamp(0.5rem, 1vw, 5rem);
}
.left .top h2 {
  font-weight: 400;
}

.svg {
  cursor: pointer;
}

h3 {
  color: var(--font-color);
  font-family: Roboto;
  font-size: clamp(1rem, 1vw, 5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1000px) {
  .left {
    width: 80%;
    padding: 20px;
  }

  .container {
    padding: 20px;
  }
}
