.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin-top: 30px;
  }
  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
  }
  
  .card .front {
      transform: perspective(600px) rotate(0deg);
      box-shadow: 0 5px 10px;
  }
  
  .card .front img {
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .front h3 {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background:  rgba(0, 0, 0, .4);
    text-align: center;
  }
  
  .card .back p {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background:  rgba(0, 0, 0, .4);
    text-align: center;
  }
  
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #121212;
    padding: 15px;
    color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  
  .card .back img {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #F0F0F0;
    border-radius: 100px;
  }
  .card .back img:hover {
    transform: scale(1.2);
  }
  .cards {
    display: flex;
    flex-direction: row;
  }