.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #171c27;
  border-radius: 12px;
}

.contactContainer{
  width: 70%;
}

.formTitle{
  color: #0077BE;
}

.input,
.textarea {
  margin-bottom: 1.25rem;
  padding: 0.8rem;
  border: 1px solid #0077BE;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #1f2937;
  color: #ffffff;
  width: 100%;
}

.textarea {
  min-height: 150px;
  resize: vertical;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: white;
  font-size: 1rem;
  letter-spacing: .15rem;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  background-color: #0077BE;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #005c91;
}

.button:disabled {
  background-color: #003a5c;
  cursor: not-allowed;
}

.successMessage,
.errorMessage {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.successMessage {
  color: #00ff00;
}

.errorMessage {
  color: #0077BE;
}

@media (min-width: 768px) {
  .form {
    padding: 3rem;
  }

  .input,
  .textarea {
    font-size: 1.1rem;
    padding: 1rem;
  }

  .textarea {
    min-height: 180px;
  }

  .button {
    font-size: 1.1rem;
    width: auto;
  }

  .successMessage,
  .errorMessage {
    font-size: 1rem;
  }
}
