body {
  background-color: #F0F0F0;

}
h1 {
  font-size: 100px;
  background-size: cover;
  color: white;
  margin-bottom: 0;
  
}
h2{
  color: aliceblue;
  font-size: 50px;
  margin-top: 10px;
}
.introduccion{
  text-align: center;
  height: 800px;
  width: auto;
  justify-content: center;
  align-items: center;
}
.navbar {
  height: 100px;
  background-color: "#121212";
}

#barInmain{
  position: absolute;
}
#content {
  position: relative;
  width: 938px;
  height: 3072px;
  
  background: #F0F0F0;
}

