
@media (min-width: 320px){
  body {
    background-color: #F0F0F0;
  }

  #bienvenido{
    position: relative;
    top: 0px;
    height: 812px;
    width: 100%;
  }

  #bienvenido #contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  }

  #bienvenido #contenido h1 {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74%;
    margin: 9px;
  }
  #bienvenido #contenido h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
  }
  #sobreMi {
    height: 712px;
    width: 100%;
  } 
  #sobreMi #contenido {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    }
  
  #sobreMi #contenido img{
    margin-top: 100px;
  }  
    
  #sobreMi #contenido h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 84%;
    }
    #proyectos {
      height: 712px;
      width: 100%;
    } 
    #proyectos #contenido {
      display: grid;
      justify-content: center;
      }
    

}

@media (min-width: 992px) {
  #sobreMi {
    height: 712px;
    width: 100%;
  } 
  #sobreMi #contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    }
  
  #sobreMi #contenido img{
    margin-top: 10px;
    
  }  
  #sobreMi #contenido h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 84%;
    width: 400px;
    }
}
@media (min-width: 1200px) {

  #all {
    position: absolute;    
    right: 0px;
    width: 70%;

  }

  #proyectos #contenido {
    display: grid;
    grid-template-columns: 33% auto;
    justify-content: center;
    gap: 20px;
  } 
  #proyectos {
    position: relative;
    left: 0px;
  }

  #cartaUno{
    margin-left: 7;
  }


}
