---
import Layout from "../layouts/Layout.astro";
import ExperienceComponent from "../components/ExperienceComponent.astro";
---

<div class="experience" id="experience">
    <div class="big-light"></div>
    <div class="experience-content">
        <div class="experience-header">
            <h2 class="experience-title">Experience</h2>
            <div class="experience-subline"></div>
        </div>
        <ExperienceComponent
            fechas="sep 2023 - present"
            role="Front-End | Mobile developer  · Palcare"
            description="I worked as a mobile app developer at a startup company. I was responsible for developing and maintaining the company's React Native mobile application, focusing on creating responsive and user-friendly interfaces."
            skills={[
                "React Native",
                "TypeScript",
                "JavaScript",
                "HTML",
                "CSS",
                "Redux",
                "React Navigation",
                "Git",
                "GitHub",
            ]}
        />
        <ExperienceComponent
            fechas="sep 2023 - present"
            role="Front-end developer · Palcare"
            description="Build, develop a static web site for a healthcare company. Working closely with the client & UX-UI designer  "
            skills={[
                "React",
                "HTML",
                "CSS",
            ]}
        />
        <ExperienceComponent
        fechas="sep 2023 - present"
        role="Developer & designer · Caula&Dodero"
        description="Build, develop a static web site for a healthcare company. Working closely with the client & UX-UI designer  "
        skills={[
            "React",
            "HTML",
            "CSS",
        ]}
    />
    </div>
</div>
<style>
    .experience {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #171c27;
        color: white;
        position: relative;
        overflow: hidden;
        border-bottom: 2px solid #0077BE;
    }
    .experience-content {
        width: 100%;
        height: 100%;
        padding: 0vw 15vw;
        text-align: left;
    }
    .experience-header {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .experience-title {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 0.5rem;
    }
    .experience-subline {
        width: 50px;
        height: 3px;
        background-color: #78A200;
    }
    .big-light {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(0%, 0%);
        width: 600px;
        border-radius: 50%;
        background: linear-gradient(45deg, #005999, #0077BE);
        opacity: 0.3;
        filter: blur(200px);
        box-shadow: 0 0 200px 100px #005999, 0 0 200px 100px #0077BE;
        z-index: 0;
        animation: pulse 10s infinite alternate;
    }
</style>
