---
import Layout from "../layouts/Layout.astro";
import ExperienceComponent from "../components/ExperienceComponent.astro";
---

<div class="experience" id="experience">
    <div class="big-light"></div>
    <div class="experience-content">
        <div class="experience-header">
            <h2 class="experience-title">Experiencia</h2>
            <div class="experience-subline"></div>
        </div>
        <ExperienceComponent
            fechas="sep 2023 - presente"
            role="Desarrollador Front-End | Mobile · Palcare"
            description="Trabajé como desarrollador de aplicaciones móviles en una startup. Fui responsable de desarrollar y mantener la aplicación móvil de la empresa en React Native, enfocándome en crear interfaces responsivas y fáciles de usar."
            skills={[
                "React Native",
                "TypeScript",
                "JavaScript",
                "HTML",
                "CSS",
                "Redux",
                "React Navigation",
                "Git",
                "GitHub",
            ]}
            url="https://palcarehealth.com/"
        />
        {
            /*
                <ExperienceComponent
            fechas="2023"
            role="Desarrollador & diseñador · Caula&Dodero"
            description="Como desarrollador front-end, desarrollé y probé un sitio web para arquitectos. También contribuí al diseño, enfocándome en sus necesidades y estética únicas, colaborando estrechamente con el cliente y el diseñador UX-UI."
            skills={["React", "HTML", "CSS"]}
            url="https://estomba-feel.vercel.app"
        />*/
        }

        <ExperienceComponent
            fechas="2024"
            role="Desarrollador Front-End · MiContainer"
            description="Desarrollé el front end de Mi Container — una aplicación web diseñada para la gestión logística y de contenedores. Mi enfoque fue traducir los diseños UI en una interfaz responsiva y fácil de usar, asegurando interacciones fluidas y un diseño limpio utilizando tecnologías web modernas."
            skills={["React", "TypeScript", "CSS3", "Redux"]}
            url="https://mi-container-own-repo.vercel.app"
        />
    </div>
</div>
<style>
    .experience {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #171c27;
        color: white;
        position: relative;
        overflow: hidden;
        border-bottom: 2px solid #0077be;
    }
    .experience-content {
        width: 100%;
        height: 100%;
        padding: 0vw 15vw;
        text-align: left;
    }
    .experience-header {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .experience-title {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 0.5rem;
    }
    .experience-subline {
        width: 50px;
        height: 3px;
        background-color: #78a200;
    }
    .big-light {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(0%, 0%);
        width: 600px;
        border-radius: 50%;
        background: linear-gradient(45deg, #005999, #0077be);
        opacity: 0.3;
        filter: blur(200px);
        box-shadow:
            0 0 200px 100px #005999,
            0 0 200px 100px #0077be;
        z-index: 0;
        animation: pulse 10s infinite alternate;
    }
</style>
