/** @format */

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: 80vh;
}

.text {
  width: 90%;
  color: var(--font-color);
  font-size: clamp(1.2rem, 2vw, 10rem);
  text-align: left;
}
