/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  background-color: var(--background-color);
}

html {
  background-color: var(--background-color);
}

html[theme="light"] {
  --background-color: #fff;
  --font-color: #000;
  --cmd-navbar: #e9e9e9;
  --scroll-background: #c5c5c5;
}

html[theme="dark"] {
  --background-color: #1e1e1e;
  --font-color: #fff;
  --cmd-navbar: #282828;
  --scroll-background: #5f5f5f;
}
