/** @format */

.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.myproyects {
  color: var(--font-color);

  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cmdcontainer {
  border-radius: 10px;
  border: 3px solid var(--cmd-navbar);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  max-width: 1006px;
  min-height: 484px;
}

.navbar {
  overflow-x: auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: var(--cmd-navbar);
}
.managetabs {
  height: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}

.proyects {
  padding: 20px 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 1rem;
  gap: 10px;
}

.proyects h1 {
  color: var(--font-color);

  font-size: 1rem;
}

.proyects img {
  height: 1rem;
  width: auto;
}

.zone {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 400;
  font-size: clamp(1rem, 1.2vw, 5rem);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  color: var(--font-color);
}

.description .pregunta {
  font-weight: 400;
  font-size: clamp(1rem, 1.2vw, 5rem);
}

.title {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: clamp(1rem, 1vw, 5rem);
  color: var(--font-color);
}

.title .image {
  width: 3em;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
