.container {
  margin: 30px 0px;
}

.content {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  width: 60%;
}

.tools {
  width: fit-content;
  border-radius: 10px;
  padding: 15px 50px;
}

.tooltxt {
  color: #000;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
}
.sectiontext {
  color: #000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
